<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentTestRepository" class="ru.otus.studenttest.repository.StudentTestRepositoryImpl">
        <constructor-arg name="studentTest" value="classpath:test.csv"/>
    </bean>
    <bean id="testServiceImpl" class="ru.otus.studenttest.service.StudentTestServiceImpl">
        <constructor-arg name="studentTestRepository" ref="studentTestRepository"/>
    </bean>
</beans>